html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: #333;
    font-family: 'Geist', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.avatar-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.avatar-container {
    position: relative;
    width: min(650px, 80vw, 80vh);
    height: min(650px, 80vw, 80vh);
    max-width: 100%;
    max-height: 100%;
}

.avatar {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.avatar.hidden {
    opacity: 0;
}

.avatar-container:hover .avatar.default {
    opacity: 0;
}

.avatar-container:hover .avatar.hovered {
    opacity: 1;
}